<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - web_app_csharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="min-vh-100 d-flex flex-column">
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container container-fluid">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path.Value == Url.Action("Index", "Goods") ? "active" : "")"
                           asp-controller="Goods"
                           asp-action="Index">
                            Goods
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path.Value == Url.Action("Index", "Departments") ? "active" : "")"
                           asp-controller="Departments"
                           asp-action="Index">
                            Departments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path.Value == Url.Action("Index", "Sales") ? "active" : "")"
                           asp-controller="Sales"
                           asp-action="Index">
                            Sales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path.Value == Url.Action("Index", "Workers") ? "active" : "")"
                           asp-controller="Workers"
                           asp-action="Index">
                            Workers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="flex-grow-1">
    <div class="container py-3">
        @RenderBody()
    </div>
</main>
<footer class="container">
    <p class="float-end">
        <a href="#">Back to top</a>
    </p>
    <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>